<section class="view users new">
  <h1>Sign Up</h1>
  <form action='/users' method='POST'>
    <input type='text' name="user[first_name]" placeholder='UserName'>
    <input type='text' name="user[last_name]" placeholder='UserName'>
    <input type="text" name="user[email]
    "  placeholder="Email">
    <input type="password" name="user[password]" placeholder="Password">
    <input type="submit"  value="Sign Up">
  </form>

</section>

