<section class="view users show">
  <%#= params %>
  <h1>Hello, <%= @user.first_name %> !!!</h1>
  <h2>Your channels are</h2>

  <% @user.channels.each do |channel|%>
    <p> <%= channel.name %></p>
    <p><%=channel.price_per_month%></p>
  <%end%>

  <h2>Total:</h2>
  <%= @user.channels.sum(:price_per_month) %>

</section>